# staging | production
APP_ENV=staging

# comma separated"""
# ALLOWED_ORIGINS=https://api.foobarbaz.com,https://anotherorigin.com
ALLOWED_ORIGINS=*

# generates the application-url from `request.base_url` in sample environment.
# if you run the app behind a reverse proxy, inside a subfolder, or behind a custom domain, you can define url explicitly.
# TF_URL_APP=https://yourorigin.com